.form-input {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  position: relative;
}

.form-input__title {
  font-size: 10px;
  color: #A0A0A0;
  margin-bottom: 5px;
}

.form-input__input {
  border: none;
  width: 100%;
  height: 14px;
  padding: 0 0 10px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 14px;
  outline:none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

.popup__input_type_error {
  color: #FF6838;
}

.form-input__input:focus {
  border-bottom: 1px solid #5CD7AB;
}

.form-input__input-error {
  position: absolute;
  top: 50px;
  left: 0;
  height: 12px;
  opacity: 0;
  transition: 0.3s;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #FF6838;
}

.form-input__input-error_active {
  opacity: 1;
}