.bookmark-button {
  margin-top: 5px;
  padding: 0;  
  width: 30px;
  height: 30px;
  background: url('../../../images/bookmark.svg') no-repeat;
  border: none;
}

.bookmark-button_active {
  background: url('../../../images/bookmark_active.svg');
}