.popup-info {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: visibility 1s, opacity 1s, transform 2s;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
  
.popup-info_opened {
  display: flex;
  transition: visibility 1s, opacity 1s, transform 2s;
  visibility: visible;
  opacity: 1;
}

.popup-info__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 30px;
  background-color: #FFFFFF;
  width: 450px;
  height: 150px;
  border-radius: 10px;
}

.popup-info__button-close {
  background: url('../../images/button_close.svg') no-repeat;
  background-position: center;
  padding: 0;
  margin: 20px 0 0 auto;
  width: 22px;
  height: 22px;
  border: none;
}

.popup-info__title {
  text-align: center;
  margin: 20px auto 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  .popup-info__container {
    padding: 0 15px;
    height: 150px;
  }

  .popup-info__button-close {
    background-size: 90%;
  }

  .popup-info__title {
    font-size: 18px;
  }
}