.filter-checkbox {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 16px 30px 16px 0;
  border-left: 1px solid #CBCBCB;
}

.filter-checkbox__button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-checkbox__title {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-left: 29px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.53;
}

.filter-checkbox__title::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  border: none;
  background: url('../../images/smalltumboff.svg') no-repeat;
  cursor: pointer;
}

.filter-checkbox__button:not(:disabled):not(:checked)+.filter-checkbox__title:hover::before {
  transform: scale(1.05);
}

.filter-checkbox__button:not(:disabled):checked+.filter-checkbox__title:hover::before {
  transform: scale(1.05);
}

.filter-checkbox__button:checked+.filter-checkbox__title::before {
  background: url('../../images/smalltumb.svg') no-repeat;
}

@media screen and (max-width:768px) {
  .filter-checkbox {
    margin-right: 20px;
  }

  .filter-checkbox__title {
    margin-left: 19px;
  }
}

@media screen and (max-width:560px) {
  .filter-checkbox {
    border-left: none;
    margin: 0 auto;
    justify-content: center;
  }

  .filter-checkbox__title {
    font-size: 11px;
    margin-left: 0;
  }
}