.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 246px;
  margin-bottom: 60px;
  color: #000000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.not-found__title {
  margin: auto;
  font-weight: 400;
  font-size: 140px;
  line-height: 1.2;
}

.not-found__text {
  margin: 0 auto 184px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.not-found__button {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #5CD7AB;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .not-found {
    margin-top: 408px;
    margin-bottom: 222px;
  }

  .not-found__text {
    margin-top: 5px;
  }
}

@media screen and (max-width:560px) {
  .not-found {
    margin-top: 329px;
    margin-bottom: 30px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__text {
    margin-top: 10px;
    font-size: 12px;
  }

  .not-found__button {
    font-size: 12px;
  }
}